@charset "utf-8";
@import 'global';

.box{overflow:hidden;cursor:pointer;font-size:14px;
	.btn{height:30px;padding:0 10px;border-radius:2px;border:1px solid #ddd;background:#e5e5e5;}
	.tips{text-align:center;color:#999;}
	.list{
		.item{margin:10px 0;padding:10px;background:#f5f5f5;
			input{padding:0 10px;border:1px solid #ddd;height:30px;line-height:30px;flex:3;}
			button{flex:2;width:100px;margin:0 20px;}
		}
	}
}